[submodule "PicoDHT22"]
	path = PicoDHT22
	url = https://github.com/danjperron/PicoDHT22.git
[submodule "RP2040-Pico-RTC"]
	path = RP2040-Pico-RTC
	url = https://github.com/infonick/RP2040-Pico-RTC.git
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/micropython/micropython-lib.git
